[2017-10-23 20:27] pzuraq opened #10 "Should allow custom attribute/argument whitelists"
Addons like `ember-test-selectors` allow users to pass in arbitrary `data-test` attribute bindings to components. In general, we should allow user's to specify their own whitelists, ideally with the ability to match patterns, so they can add their own customizations to components.

[2017-10-27 02:05] #10 closed

[2017-11-02 16:58] urbany opened #19 "404 Not Found: @ember-decorators/argument@latest"
Hi,

Failed to install on npm@5.5.1:

[code]

[2017-11-03 19:19] pzuraq commented on #19
We just changed the name and haven't yet published the package, sorry about that! I'm pushing it out today along with a fix for that other problem we discovered with validations, will update when it's out

[2017-11-03 23:25] pzuraq commented on #19
Package has been published under the new name! 😄

[2017-11-03 23:25] #19 closed

[2017-11-04 00:02] kybishop opened #24 "Crash when running consuming app in dev mode, fine in prod mode"
[code]

Tracks down to here: https://github.com/ember-decorators/argument/blob/master/addon/-debug/utils/validation-decorator.js#L64

This breaks dev mode for my own app, which depends on ember-attacher (which uses ember-popper)

[2017-11-04 01:28] pzuraq commented on #24
Out of curiosity, what are your targets? Locally this transpiled to using `Object.keys` so it’s weird that the behavior is different here. Either way, thanks for the fix!

[2017-11-04 15:24] pzuraq commented on #24
Fixed by #26

[2017-11-04 15:24] #24 closed

[2017-11-07 14:36] buschtoens opened #27 "Only validate components with validations"
It is not explicitly documented, but judging from the errors I'm getting and a quick glance at the code, it looks like [*all component declarations* are transformed to extend `ValidatedComponent`](https://github.com/ember-decorators/argument/blob/fd1639533b955f4dcb9c9ccb9b7098f2bc7df539/lib/validated-component-transform/index.js#L11-L18) (cool idea btw!), which then in turn checks [whether all pas

[2017-11-07 16:52] pzuraq commented on #27
So there is actually an option for ember-cli, it just isn’t documented and hasn’t been updated since the name change: https://github.com/ember-decorators/argument/blob/fd1639533b955f4dcb9c9ccb9b7098f2bc7df539/index.js#L113

I think we’ll need to bump to v0.8 to update it, ember-cli options should be under `@ember-decorators/argument` instead of `emberArgumentDecorators`, but it should be usable no

[2017-11-07 16:55] pzuraq commented on #27
Also should note that the transform applies only to the immediate parent, so addons will still be able to get the benefits of it even if your app can’t. This is why it’s on by default, to encourage people to define their arguments rigorously 😄

[2017-11-07 17:26] buschtoens commented on #27
This option would disable validation for all components, right? I was thinking about disabling validation only for components that have no `@argument` decorators, so that I can slowly migrate all 600 components (that all live in the same app namespace).

[2017-11-07 17:30] pzuraq commented on #27
Yes, unfortunately that’s a bit more tricky. How do we distinguish if a component has validations or not?

I suppose there are two options here, either A. Write a transform that is somehow aware of this context (maybe looks for import of `@argument`?) or B. Export validated component so users can use it directly. If we can come up with a good heuristic I think option A would be fine, I’m open to e

[2017-11-07 17:36] buschtoens commented on #27
https://github.com/ember-decorators/argument/blob/fd1639533b955f4dcb9c9ccb9b7098f2bc7df539/addon/-debug/validated-component.js#L33

Can't we just do something like:

[code]

Wouldn't this effectively skip components that have no validations defined on them?

[2017-11-07 18:20] pzuraq commented on #27
That could work too, probably better than writing a weird transform 😜 the only thing I can see being an issue is if a component shouldn’t have arguments, there’s no way to really enforce that, but I think that’s fine. Feel free to PR it!

[2017-11-07 19:19] buschtoens commented on #27
Yeppa, that'll be the trade-off during the transition phase.

Are you okay with `ignoreComponentsWithoutValidations` or do you think there's a better name? :smile:

[2017-11-07 22:57] pzuraq commented on #27
I can't think of anything better at the moment, so let's go for it. You can see that we're using `ember-get-config` in the addon: https://github.com/ember-decorators/argument/blob/5da4de19046d1d8d7d78d3b90a6f8d336e8f2748/addon/index.js#L15

Same issue as before, it's on the old key `emberArgumentDecorators` but should be changed to reflect the new name of the repo. I think doing the same, `@ember-

[2017-11-08 07:35] buschtoens commented on #27
I'll change all occurrences of `emberArgumentDecorators` to `emberDecoratorsArgument` with my PR. Is the key okay or do rather want `emberDecorators.argument`?

[2017-11-08 22:10] buschtoens opened #29 "Enabling typeRequired can break addons that do not specify types"
https://github.com/ember-decorators/argument/pull/28#discussion_r149717627

[2017-11-08 23:12] #27 closed

[2017-11-14 19:42] buschtoens opened #30 "enum / values validator"
I often write components that take specific string values as configuration parameters. For example, an icon component might take 4 different, pre-defined, named sizes, like `small`, `medium`, `large`, `extra-large`.

I'd like a validator that only allows these specific values, for instance:

[code]

I am open to name suggestions and would love to submit a PR!

[2017-11-14 19:47] pzuraq commented on #30
I'm actually trying to match up the types Typescript right now, and two of the primitive types we're missing are `enum` and `tuple`. I think they would work well as validator functions that integrate with the `@type` decorator:

[code]

The nice thing about doing it this way is validators can actually be used externally to define types, much like you would do in Typescript:

[code]

[2017-11-21 06:49] buschtoens opened #34 "ComponentDefinition type"
Currently, there is no clean way to type check for a `ComponentDefinition`, e.g.:

[code]

The `(component)` helper returns a [`CurlyComponentDefintion`](https://github.com/emberjs/ember.js/blob/2f32bf3fd7981d05dda4bac5c2a7c680c676d265/packages/ember-glimmer/lib/component-managers/curly.ts#L447), which is a subclass of [`ComponentDefintion`](https://github.com/glimmerjs/glimmer-vm/blob/87da370aa5a

[2017-11-21 07:53] buschtoens opened #35 "Optional / Nullable decorator or type helper"
When using the `@type` decorator for field that don't necessarily need to be defined and don't have a default value, i.e. optional or "nullable" fields, it's a bit tedious to have to define a union just for that.

I suggest we add an `@optional` or `@nullable` decorator, that effectively wraps the specified type in a `unionOf(specifiedType, unefined, null)`.

This would allow the following code:

[2017-11-21 21:13] pzuraq commented on #34
Definitely think this is something we should provide out of the box, also unsure of how we can do it (also, backwards compatibility. This may only be something we can guarantee in the Glimmer 2+ world if we can get ahold of that class)

[2017-11-21 21:16] pzuraq commented on #35
Yeah, I agree that optional syntax is pretty cumbersome here. It also makes the `@required` decorator kind of redundant if you use `@type` 😛

I'm leaning towards it being a type helper, since that'd be much more straightforward to implement and apply universally. If it were a decorator, I would expect it to operate much like `@required`, only running the validation on component initialization, whe

[2017-11-21 21:19] buschtoens commented on #35
Awesome-sauce. Makes total sense. I'll fix up a PR tomorrow.

[2017-11-24 11:16] buschtoens opened #38 "No initial value in production build"
When I build a production version of my app and try to access an (in-repo) engine that uses `@ember-decorators/argument`, I receive this error:

[code]

Seems like the imports are not properly stripped?

[2017-11-24 15:23] buschtoens commented on #38
I found the culprit:

[code]

This was my hack to circumvent https://github.com/ember-cli/babel-plugin-filter-imports/issues/30, but apparently this causes the import to just not get removed.

I've changed it to this:

[code]

Now the import gets removed. So I guess this is an upstream bug with [babel-plugin-filter-imports](https://github.com/ember-cli/babel-plugin-filter-imports). There's still o

[2017-11-27 07:50] buschtoens commented on #38
Found the problem. Why was this line put there?

https://github.com/ember-decorators/argument/blob/9839f9eb11aa22f74439a929289c14b7c7c14c1e/addon/index.js#L22

In dev mode `desc.initializer` is always `undefined` (for the property in question).

![image](https://user-images.githubusercontent.com/834636/33255581-a93ca780-d34e-11e7-8bbb-d2d961bf043d.png)

Since `undefined !== null`, the following co

[2017-11-27 16:21] #35 closed

[2017-11-27 17:01] pzuraq commented on #38
`desc.initializer` should be null when the property does not have an initial value set at all:

[code]

I think the initial reason I added that `return` was because I believed that if the initializer itself was null/falsey, no value would be assigned at all in the object's constructor, which would mean there was no reason for us to do any of the logic in `argument`. If that's true, everything shou

[2017-11-30 07:19] buschtoens commented on #38
[code]

[code]

In production mode `stringWithoutDefault` is just `undefined`.

This happens for regular apps, not just in-repo-engines. What lead me to believe that this was related to in-repo-engines was a combination of multiple bugs (including https://github.com/ember-cli/babel-plugin-filter-imports/issues/30 and #41 among others).

[2017-12-03 17:26] pzuraq opened #43 "Bug: babel-plugin-filter-imports attempts to strip references of Element and Node"
Element and Node are meant to be shims for Fastboot, where those global values do not exist. When removed, the code that uses them should continue to function and should not be modified, because it is still valid code. This is different than other exports from this library, which we want to strip completely.

Currently, `babel-plugin-filter-imports` will try to remove _all_ references of Element a

[2017-12-03 18:08] #43 closed

[2017-12-05 20:06] km-smith commented on #38
Is anyone actively working on a fix for this? Currently, my app has all of these awesome decorators commented out so our production builds work.

[2017-12-05 21:17] buschtoens commented on #38
I was gonna debug it today, but other stuff got in the way. 🙈

I have a  _massive_ interest in getting this fixed, can't promise it though yet, since it _might_ be over my head (yet).

[2017-12-05 22:29] pzuraq commented on #38
Bugfixed published in 0.8.4, let me know if you still have issues!

[2017-12-05 22:29] #38 closed

[2017-12-18 10:52] buschtoens commented on #30
I was thinking about enums the other day. The problem with enums, as used in TypeScript and other programming languages, is that they are basically just fancy integers.

[code]

This is not what I originally had in mind for this issue, as this is not ideal when interfacing with components through templates, especially for consumers of addons. You either have to pass the numeric value, which would

[2017-12-18 17:21] pzuraq commented on #30
Agreed that both would be helpful here, and we should keep `enum` as close to TS semantics as possible. I think we could call the `values` helper `oneOf` which would be inline with our naming scheme currently and read like English (it's one-of these values) but I'm open to either.

[2018-01-16 16:41] buschtoens opened #49 "Default value for nullish arguments"
From the README:

I just ran into a scenario, where some array is externally provided through an ember-concurrency task like so:

[code]

As long as the task did not succeed (i.e. is still running or failed) `taskInstance.value` is `null`.

In my component class I have some code like this:

[code]

Obviously, this codes breaks, since the default value `[]` will not be used as `null` is explicitly

[2018-02-03 00:01] pzuraq commented on #49
I decided to implement this as an option to `@argument` for now, I'm definitely open to making it a standalone decorator though. I'm personally bikeshedding about how the API works now a lot, wondering if it's solid or needs to be updated (like I mentioned to you offline the other day 😄) so we'll see.

[2018-02-03 03:32] #49 closed

[2018-02-06 16:43] bartocc opened #55 "Improve runValidators TypeError message"
https://github.com/ember-decorators/argument/blob/0ca18aff6fb63a4b434d863991bdcbdaed40e6e0/addon/-debug/utils/validation-decorator.js#L41

Shouldn't we pass 'klass' as the second argument to runValidators instead of 'constructor'.

Then, in runValidators https://github.com/ember-decorators/argument/blob/0ca18aff6fb63a4b434d863991bdcbdaed40e6e0/addon/-debug/utils/validation-decorator.js#L168 use `$

[2018-02-06 19:51] pzuraq commented on #55
ah yeah, that's definitely a regression. My bad!

~I think we should still be logging `klass` or possibly `klass.prototype`, `klass.name` will be provided by the container only if the class was resolved.~ Nevermind that either, totally forgot that classes actually get that property. Sounds good!

[2018-02-06 22:46] #55 closed

[2018-02-13 09:52] fran-worley opened #57 "Deprecation warning - Using the global version of DS is deprecated"
We're getting 3 warnings about this ember-data deprecation:
[code]

Having done a search for use of `window.DS`, I believe this is the culprit:
https://github.com/ember-decorators/argument/blob/master/addon/-debug/utils/validation-decorator.js#L273-L275

[2018-02-13 16:34] pzuraq commented on #57
Hmm, tricky. This is kind of a catch 22 because we don't want to add Ember Data as a dependency to this library, and the real Ember Data module transforms aren't out yet 🙃

I'll look into seeing if there's a way to suppress that error for the time being

[2018-02-13 16:37] fran-worley commented on #57
You probably don't want a dependency just to manage this but this addon https://github.com/offirgolan/ember-require-module seems to be a solution...

I know that ember-cp-validations optionally hooks into ember-data but doesn't want to make it an addon so they use that addon to require it.

[2018-02-25 11:10] Rapid0o opened #59 "Ember 3.1 deprecation warning"
I'm getting the following deprecation warning in Ember 3.1:

`DEPRECATION: 'propertyDidChange' is deprecated in favor of 'notifyPropertyChange'. It is safe to change this call to 'notifyPropertyChange'. [deprecation id: ember-metal.deprecate-propertyDidChange]`

[https://emberjs.com/deprecations/v3.x/#toc_use-notifypropertychange-instead-of-propertywillchange-and-propertydidchange](https://emberjs

[2018-02-25 13:21] rwjblue commented on #59
Yes, these will need to be updated.

For addon authors this essentially means having to write:

Basically, with this:

[code]

Then use that `notifyPropertyChange` method. This will prevent the deprecation and continue to support older Ember versions (where `Ember.notifyPropertyChange` doesn’t exist).

[2018-02-25 13:58] Rapid0o commented on #59
@rwjblue Ok, thnx for the explanation :+1:. I will create a PR.

[2018-03-12 17:50] #57 closed

[2018-03-22 14:17] simonihmig opened #64 "meta.peekDescriptors fails in Ember Canary"
It seems [this line](https://github.com/ember-decorators/argument/blob/e9b81df514c0ef2b5cc4cead64911fb02be9bf07/addon/-debug/utils/validation-decorator.js#L203) is failing in latest canary.

Example: https://travis-ci.org/kaliber5/ember-bootstrap/jobs/356845418#L1202 (this test is using ember-popper)

[2018-03-22 14:28] pzuraq commented on #64
You aren’t actually running against canary, you need to upgrade to using ember-source-channel-urls. We should check to see what the last version of canary was that was published to bower, this could be a bug in ember-compatibility-helpers, but more likely the last one published was a version of 3.1 just before the ES5 getters work was done.

[2018-03-22 14:32] simonihmig commented on #64
Ah ok, makes sense. I have that upgrade in a separate PR, will merge those and revisit this issue then. Thanks so far!

[2018-03-22 20:04] simonihmig commented on #64
Confirmed, this does not occur with canary from the new source channels...
Sorry...

[2018-03-22 20:04] #64 closed

[2018-03-23 03:20] pzuraq commented on #64
No worries, it’s totally not-obvious, ran into the same thing when upgrading myself 🙂

[2018-04-21 00:28] alexlafroscia opened #65 "Does not work with TypeScript"
I'm running into an issue where the decorators are not compatible with the way that property decorators work in TypeScript.

If you check out the [decorators documentation](http://www.typescriptlang.org/docs/handbook/decorators.html), there's a relevant bit here:

Originally, I modified the validation decorator to ignore `desc` if it did not exist, but this forces the property to become immutable

[2018-04-21 17:57] pzuraq commented on #65
Hey! So this is definitely a known issue, based on the limitations in Typescript. It's actually part of the reason why this is not part of the "core" decorators (the other part being that there's going to be a lot of overlap with `@argument` and actual `@args`, and glimmer components, etc, so while it's super helpful for modern components unsure how it fits into the overall Ember story yet 😅)

We

[2018-04-29 20:00] allthesignals commented on #30
So what I'm hearing is that we want a `oneOf` helper that validates passage of any one _string_ type value. ~Would this need to compose with other validators? For example:~

(EDIT: I realize that's just the `unionOf` helper)

[code]

Separately, I'm not sure I follow where we've settled on the way forward with an `enum` helper, which seems to be more about mapping numeric and string values. When I

[2018-04-30 18:35] #30 closed

[2018-06-08 19:03] zeppelin opened #68 "Support data-* attributes"

[2018-06-08 19:06] pzuraq commented on #68
Unfortunately we can’t support anything dasherized until dynamic class fields are figured out and standardized. In the meantime, you can bind attributes using `@attribute`:

[code]

[2018-06-08 19:13] pzuraq commented on #68
Note that we do respect attribute and class name bindings, so addons which automatically add bindings for data- attributes should work fine (e.g. ember test selectors)

[2018-06-12 14:56] rwjblue commented on #59
This was fixed by #60

[2018-06-23 05:58] JonForest opened #70 "Readme does not explain what property needs to be set to turn this off"
It's tricky to apply this progressively to an existing project as you need to set a value in `config/environment.js` in order to stop all your components throwing validation errors.

Looking through the code it looks like you need
[code]

I'll try to raise a PR for this if you're interested and I've understood correctly, though this does work.

[2018-07-02 17:40] pzuraq commented on #70
yeah, that is the configuration option that's required. Would definitely appreciate a PR for the README, it's been on my to do list but haven't had a chance to get to it yet!

[2018-07-02 18:52] pzuraq commented on #70
Ah actually, minor clarification - I believe it's meant to be a nested object there:

[code]

[2018-07-03 18:25] JonForest commented on #70
And looking at the readme again I see this instruction RIGHT THERE.  I must have been blind first time.
I can add a PR to include the code example - if you think it's helpful, feel free to merge.

[2018-07-03 18:35] pzuraq commented on #70
I think the code example would be easier to read and parse, you probably missed it because it's all headers and such 😛 no worries, it happens

[2018-07-25 21:38] JonForest commented on #70
PR merged on this, so closing.

[2018-07-25 21:38] #70 closed

[2018-08-29 23:36] alexlafroscia opened #75 "Babel 7 Support"
With `ember-cli-babel@7` released, the Ember community has access to Babel 7!

At this time, this addon is not configured to work with anything other than a `6.X.X` release of `ember-cli-babel`. I'm not sure if the API has changed in a breaking way or if the restraint just has to be updated here, but either way compatibility should be provided.

(Just like https://github.com/ember-decorators/babel

[2018-09-12 23:59] alexlafroscia commented on #75
Looking into this a bit, we would need to upgrade to the latest version of `babel-plugin-filter-imports`, which is for Babel 7.

Since it's the same package, but a newer version, I'm not sure how we would maintain support for both Babel 6 _and_ Babel 7 when this underlying package is for only one or the other. I did look into installing both versions with alternate names, but couldn't find a way t

[2018-09-13 00:16] pzuraq commented on #75
I think that would be good. Now that the native class constructor update RFC has been merged this addon will be changed to be 100% validation decorators that are all stripped in production builds, so I think we should first cut a Babel 7 compatible release for users on older versions of Ember, and then make the switch to validation-only once the work has been completed in Ember core.

[2018-09-13 02:19] alexlafroscia commented on #75
Sweet! In that case, I'll put together a PR tomorrow that upgrades to Babel 7 compatibility.

What do you mean? What more than validation is being done right now?

[2018-09-19 20:57] jordpo commented on #65
Any updates on TS support? Thanks!

[2018-09-19 21:02] pzuraq commented on #65
Yes actually, based on the recent [class constructor update RFC](https://github.com/emberjs/rfcs/blob/master/text/0337-native-class-constructor-update.md) this library will no longer be needed at all for runtime. Once that RFC is implemented (my main focus right now) the behavior that `@argument` provides will be the default behavior in native classes, without decorators 😄

This library will be up

[2018-09-19 21:02] #65 closed

[2018-09-20 19:49] jordpo commented on #65
Awesome!

[2018-09-29 02:48] flashios09 commented on #65
hi @pzuraq,
sorry, i didn't understand :(
we can use `@ember-decoratores/argument` **now** with **typescript** or not ?
the only feature that i need is to check if an argument has been passed or not(i don't need the type checking), for example:
[code]
the `my-link.hbs`:
[code]
the `template.hbs`:
[code]
thanks

[2018-10-01 22:08] pzuraq commented on #65
Hey @flashios09, you _cannot_ use `@argument` with typescript, and it will never be supported. Instead, we want to integrate Typescript's type checker so that it can read templates, and do type checking through them.

So for instance, if you have the component:

[code]

and you attempt to use it like so:

[code]

Typescript should throw an error because the argument is not used at all, so it is un

[2018-10-01 22:31] flashios09 commented on #65
hi @pzuraq ,
thanks for your reply

for me the decorators make the code **more readable** and that's why i love them, for example when i use the `@className`, `@action` decorator, i don't even have to add a doc:
[code]
the only missing part is the `@argument` decorator, when i said:
[code]
i mean when i forget to pass the `href` argument from **the component invocation**(the route template file or

[2018-10-02 20:51] alexlafroscia commented on #75
With `^` that issue closed, I'm going to take a look at finishing this

[2018-11-03 17:39] lougreenwood opened #82 "Build Error (broccoli-persistent-filter:Babel > [Babel: @ember-decorators/argument]) in @ember-decorators/argument/-debug/validated-component.js"
Started getting this error today, not sure whether it's similar to #238

[code]

[2018-11-03 17:43] pzuraq commented on #82
`@ember-decorators/argument` uses the same babel plugin that `ember-compatibility-helpers` uses to strip all of its assertions from production builds. In Babel 7, we started seeing issues crop up because multiple versions of the same plugin were being included without a way to distinguish them, which Babel 7 doesn't support, so it could be related to that.

Which version of Babel are you using? An

[2018-11-03 17:59] lougreenwood commented on #82
I'm on Ember 3.5.1

Seems that I had `ember-cli-babel` 7 in the package.json. Changing this to 6.17.0, deleting yarn.lock and then doing a `yarn install` seems to have solved the problem.

Thanks for the help!

[2018-11-03 18:01] pzuraq commented on #82
Really good to know, I think @alexlafroscia's work on Babel 7 here will fix this once we can actually get it merged. We definitely do want to support babel 7 for this.

[2018-11-06 21:31] pzuraq opened #83 "Update to be a pure validation library, add TS support"
Now that RFC 337 has been merged and we are about ready to release it, the runtime functionality for this library will become _mostly_ obsolete. There is still some usefulness in the `defaultIfUndefined` functionality for default values on props, but I think this is something that should be solved separately.

This library can become a thin validation library that has _all_ of its code stripped in

[2018-12-05 17:24] alexlafroscia commented on #75
Alright, so the failures here are due to issues that happen on `master` as well as this branch.

I'll see if I can get that passing, so that this PR can finally land.

[2018-12-08 01:43] alexlafroscia commented on #83
I'd like to take this on, with the following proposal:

- Create an `argument` package in the existing mono-repo (in part as a means to have a clean slate to work off of)
- Target only Babel 7
- Target only the stage 2 decorators proposal
- Ship with the example API shown above, plus a single `type` file where you can import the validator helpers like `optional`, `shapeOf` etc. and the type aliase

[2018-12-08 17:10] pzuraq commented on #83
I’m not really comfortable moving this package into the monorepo just yet. Currently, the monorepo represents to bare minimum of packages needed to have feature-parity with vanilla Ember. With the decorators RFC, it may need to split into two logical groups, the polyfill group and the legacy support group. This would be a third group, additional decorators libraries, not part of the core programmi

[2018-12-08 17:11] pzuraq commented on #83
Totally on board with everything else though 😄

[2018-12-08 18:22] alexlafroscia commented on #83
Alright, no problem! I'll just do my work in the original repo then.

[2018-12-08 21:22] alexlafroscia commented on #83
@pzuraq what do you think about keeping the validation around providing arguments that are not defined with `@argument` on a component?

Should that still throw an error?

I think, personally, that it's pretty helpful to get that quick validation that something is missing.

[2018-12-10 16:42] pzuraq commented on #83
Absolutely think this should still throw, I think this is one of the more valuable parts of this library as well 👍

[2018-12-10 18:15] alexlafroscia commented on #83
Great, I'll make sure that that still works.

What do you think about the minimum supported Ember version? I have conflicting feelings.

On the one hand, I don't like dropping support for older Ember versions, only because we, as a community, try hard to bring people on older versions along as far as we can.

On the other, `3.6` ([or `3.4`, with your polyfill](https://www.npmjs.com/package/ember-n

[2018-12-10 19:29] alexlafroscia commented on #83
One of the cool things about trying to lean more on the ES6 class behavior is that we can remove a lot of the implicit mixin injection in favor of things that "just work" with the Stage 2 decorator spec. So far I've been able to remove the validation-logic mixin, which was injected implicitly into all `EmberObject`s, with explicitly injecting it only when `@argument` is used. Yay for less side-eff

[2018-12-10 20:35] pzuraq commented on #83
I think we should only support v3.6+ behavior, along with any versions which are supported by the polyfill. It's too much work to try to support the older behavior, and it can lead to weird behaviors and issues when updating Ember versions. Like you said, this has definitely been beta-ish territory for a long time, and there hasn't been _that_ much early adoption (and we're helping the early adopt

[2018-12-11 03:20] hamidmaddi opened #86 "ion"

[2018-12-11 03:29] alexlafroscia commented on #29
`typeRequired` goes away with the PR that I just opened, so we might be able to close this. Only classes that have `@argument` applied are modified by the addon in any way.

[2018-12-13 20:52] Devoter commented on #75
Ember 3.6.0 released with babel 7.

[2018-12-22 20:44] #75 closed

[2018-12-22 20:44] #83 closed

[2018-12-23 06:22] Devoter opened #87 "Native types definitions instead of strings"
I have a suggestion. It seems to me more intuitive to use native classes e.g.: `Boolean`, `String`, `Object`, `Array`, `Symbol` or `MyOwnClass` instead of strings. For example:
[code]
vs
[code]

[2018-12-23 06:45] pzuraq commented on #87
The reason we went with string types was to be as close as we could to approximating the Typescript type system. For instance, there are primitive types in TS such as `any` and `object` which don’t have an equivalent native JS class. I’m open to adding it as an option for those that do though, what do you think @alexlafroscia?

[2018-12-23 06:48] Devoter commented on #87
I think you can add `Any` class as like as your `Action` class.

[2018-12-23 15:42] alexlafroscia commented on #87
I really like this idea! It’s something I’ve been thinking about lately, as it would be nice to pass in a constructor rather than a complex `shapeOf` description.

@Devoter I really like that idea! It doesn’t even need to be a class; an exported Symbol would work for this too.

I’d be happy to take a pass at supporting this!

[2018-12-23 16:43] pzuraq commented on #87
Ah FWIW, you definitely can pass in constructors as is, I was just referring to primitive types. That’s what the `instanceof` checks are for.

[2018-12-23 16:45] pzuraq commented on #87
https://github.com/ember-decorators/argument/blob/master/addon/-private/validators.js#L43-L44

[2018-12-23 21:30] Devoter commented on #87
@pzuraq Right, but there is no implementation for `Any` type definition and no words in the documentation.

[2018-12-26 17:43] lifeart opened #89 "[feature-request] Ignore attributes by prefix / for ember-ast-hot-load"
During Handlebars AST compile time I add few props for component invocation:

`hotReloadCUSTOMhlContext`,
`hotReloadCUSTOMName`,
`hotReloadCUSTOMhlProperty`,
`hotReloadCUSTOMHasParams`,
`hotReloadCUSTOMHasHash`,

is it possible to whitelist it by prefix? `hotReloadCUSTOM` or allow users to add it into addon config

[2018-12-26 20:32] alexlafroscia commented on #89
Sounds reasonable to me! I think this would be a great thing to add support for.

[2018-12-26 20:32] alexlafroscia commented on #86
I'm going to assume this was made in error -- @hamidmaddi if that was not the case, please clarify what you're looking for.

[2018-12-26 20:32] #86 closed

[2018-12-26 20:39] buschtoens commented on #89
Maybe a regex and / or predicate function would be more flexible?

[2018-12-26 21:09] alexlafroscia commented on #89
@buschtoens do you have thoughts on what the API to whitelist additional attributes might look like with those suggestions?

[2018-12-26 21:32] alexlafroscia commented on #87
I opened a PR that addresses two things that this PR requests:

- Better documentation around passing a constructor to `@argument` (I also added more tests around this use-case)
- Exporting an `Any` type that can be passed to `@argument`

One thing to not, though: `Boolean` is _not_ the same as `boolean`. Since `Boolean` is the "boxed" version of the `boolean` primitive, I'm not sure that this lib

[2018-12-26 21:34] buschtoens commented on #89
Nothing concrete, no. I guess that we would want this setting to live in the `config/environment.js`, another file in `config/` or `ember-cli-build.js`.

[code]

I _think_ you can't easily have non-primitive values in `config/environment.js` though. So maybe some extra file would be required.

[2018-12-26 21:48] lifeart commented on #89
or it can be array of plain strings with `startsWith` logic.
`whitelist: ['bs-', 'hotReloadCUSTOM', 'liquid-fire']`

[2018-12-26 21:54] buschtoens commented on #89
@lifeart sure, that's what it would be for prefixes only.

[2018-12-26 22:16] lifeart commented on #89
prefixes + full names.
or
` whitelist: { startsWith: ['-bs'], includes: ['-dummy'], endsWith: ['-form'] } `

[2018-12-27 00:30] alexlafroscia commented on #89
I think a regex approach is probably the easiest way to go — very flexible and easy to express exact match, starting with, ending with, etc.

[2018-12-27 04:56] alexlafroscia commented on #89
Ugh... So, neither functions nor regular expressions actually are translated through the `config/environment.js` file correctly. Regular expressions come through as `{}` and a function came through as `null`.

I'm going to approach this by allowing either of these:

[code]

or

[code]

If we can figure out a way to handle regular expressions, I would love to simplify that, but that's the plan for

[2018-12-27 05:46] alexlafroscia commented on #68
Assuming that the intention behind this issue is to allow the whitelist to be expanded to not error when giving a component a `data-test-*` attribute, this will be supported if/when #91 is merged. You'll be able to do something like this:

[code]

and any `data-test` attributes will no longer throw an assertion.

[2018-12-27 05:50] lifeart commented on #89
regexp in config can be in string form, and we can do `new RegExp(string)`; as mentioned in https://github.com/ember-decorators/argument/pull/91/files#diff-164d647270288733c95f5bd657121df7R23

[2018-12-27 06:15] alexlafroscia commented on #34
Based on the validator refactor that I did in #90, I prototyped an implementation for this. While it doesn't do the "right thing" and actually receive the class from Glimmer to compare again, it does work!

You can check out the commit above to see what I did; I'm going to hold off on making a pull request for it until #90 has been addressed.

One thing I also played with was going further and all

[2018-12-27 06:17] alexlafroscia commented on #29
This will go away a different way with #91, since users can add additional arguments to the whitelist to support things like `ember-test-selectors` and the `data-test-*` attributes.

[2018-12-27 06:19] alexlafroscia commented on #89
Yup, that's basically what my PR does! Each of the different keys in the object-style whitelist creates the `RegExp` a different way.

https://github.com/ember-decorators/argument/blob/abfe66c80f6d04e8dea4417ea6c64851bae1eb9b/addon/-private/config.js#L22-L30

[2018-12-27 07:37] lifeart commented on #89
should we have few params or just allow users to specify regexp string body in config?
`attributeWhitelist: ['^$fooBar', '$-form$', 'exact']`

[2018-12-27 15:53] alexlafroscia commented on #89
Hmm, yeah that might make more sense. My only worry would be that it’s a little hard to explain what’s required — saying “put a regex in the string” will likely lead to some people accidentally putting a regex in there, which will break. On the other hand, simpler code and a cleaner API... Not sure which I like better, would love other opinions!

[2018-12-27 16:59] buschtoens commented on #89
Is this addon still a no-op in production builds? In this case, we might want an extra file instead, which would allow us to import it as is and even strip it from production builds.

[2018-12-27 17:55] lifeart commented on #89
@alexlafroscia it can be kinda "hidden" feature, noted in `*`. By default we can specify it should be full names: `attributeWhitelist: ['someProperty', 'isEnabled', 'astHOTLOAD']` and only power users may know it may be an stringed regexp )

[2018-12-27 18:00] lifeart commented on #89
also, it can be `path-like` item. `attributeWhitelist: ['bsDropdown.readOnly']` where `bsDropdown` === `component.constructor.name || component._debugContainerKey || component.toString()`

[2018-12-27 19:20] Devoter commented on #87
@alexlafroscia I think this is not a good idea to override built-in classes with your own validators.
You may use `typeof()` instead of `instanceof` for the Primitive types.

[2018-12-28 19:16] pzuraq commented on #87
I definitely think that it's a bad idea to export another type, that could get confusing fast. We would either need to have custom logic specifically for primitive types that can knows to compare them against the boxed version as well when they are received, or we should just stick with strings, IMO. In other words either:

[code]

Should Just Work™️ or we should just stick with what we have. I th

[2018-12-28 22:13] alexlafroscia commented on #87
You may use `typeof()` instead of `instanceof` for the Primitive types.

Just a note: I'm definitely not suggesting that we would override the way that passing the `Boolean` constructor would work. My example there was something you could import from the library to validate against either the boxed or unboxed version.

In that case, I think we should just stick with what we have, where the constru

[2018-12-28 22:16] alexlafroscia commented on #89
Yup, even more so in `1.0.0` where _all_ of the behavior is stripped in production. The pre-`1.0.0` version key a small amount of runtime behavior in production builds but stripped most of it. That behavior is built into ember `3.4+` now, so we're aligning with that.

I'm not sure what you mean -- could you explain?

[2018-12-29 15:54] buschtoens commented on #89
Yes, sure! I mean something like [`config/ember-intl.js`](https://github.com/ember-intl/ember-intl/blob/master/blueprints/ember-intl/files/config/ember-intl.js). While in this case the file is `require`d by Node, we could easily make it part of the build pipeline. Alternatively, we could do it like [liquid-fire's `transitions.js`](https://github.com/ember-animation/liquid-fire/blob/master/blueprin

[2018-12-30 18:05] alexlafroscia commented on #89
Interesting -- I think I like the idea of doing something like `config/ember-decorators/arguments.js` (or something else in the `config` directory) better. I personally don't love putting a config file in `app`.

[2018-12-31 04:43] allthesignals opened #92 "Can't debug type decorator"
I believe a type decorator is catching an invalid structure, but I can't tell where this is happening:

![image](https://user-images.githubusercontent.com/5004319/50554659-8d794300-0c8c-11e9-9797-dad2f6c3f283.png)

Maybe something is happening at a lower level? How can I debug this? I see shape-of in the stack trace.

[2018-12-31 19:31] allthesignals opened #93 "expected value of type undefined during 'init', but received: [object Object]"
I'm using mirage for testing, and I have type validation on one of my models. When I run a test, I'm seeing this:

`_default#proposedGeometry expected value of type undefined during 'init', but received: [object Object]`

But I _have_ defined the type as something:

[code]

The problem is that FeatureCollection actually imports as `undefined` in my test environment. Could this have something to do

[2018-12-31 19:38] allthesignals commented on #93
I moved this validation over to the model that was needing it (it should go there anyways), and it seems to work fine. So I'm not sure what's happening. The validation is exported as this:

[code]

Maybe I am doing the module syntax wrong IDK

[2018-12-31 20:09] allthesignals commented on #92
Anything I can do to help? For big projects with lots of type validations, this is almost unusable - I have to search my project for `@type` and comment things out just to understand where the invalid geometry is happening.

I think this has to do with something undefined being passed somewhere, and ember getting mad because it's using `get` on that.

[2018-12-31 20:12] allthesignals commented on #92
I think this has to do with this issue: https://github.com/ember-decorators/argument/issues/93 - it's importing something but silently fails while doing it (it just contains `undefined`). Then somewhere downstream, Ember/argument gets made because it's undefined.

It seems improperly caught as an exception, like it's internally judging validity but trips up because it's `get`ing on `undefined` or

[2019-01-02 20:34] pzuraq commented on #93
In production environments all of the type definition helpers are removed from the final build, so you may be importing undefined because of that. However, `@type` should _also_ be removed, so it's strange that you're still running into the validation issues.

We've been working on a rewrite for v1.0.0, we can definitely try to address this in the rewrite. Unsure if I'll have time to go back to ea

[2019-01-02 21:13] allthesignals commented on #93
Hmmm. Yeah, I'm not sure. It seems to only come through as undefined when it's being exported and reimported somewhere else.

Happy to help if I can be pointed in the right direction.

Thanks!

[2019-01-07 18:56] #87 closed

[2019-01-10 16:22] allthesignals commented on #92
`"Assertion Failed: `@argument` must only be passed one type definition"`

<img width="1140" alt="screen shot 2019-01-10 at 11 21 25 am" src="https://user-images.githubusercontent.com/5004319/50981901-f7ce8680-14c9-11e9-82a8-eaf701a93539.png">

Can't figure out where this is coming from

[2019-01-10 17:22] pzuraq commented on #92
This looks like partially the issue with EmberError in general, something is rethrowing the error and it's stack is not printing correctly. I run into this problem frequently, I think we'll be making some upstream changes to figure it out eventually 😕

In the meantime, you can check out the `stack` property on that error, print the whole string and it should tell you the correct line number. Also,

[2019-01-10 18:08] buschtoens opened #95 "Glimmer Component API"
The Glimmer Component API works different to the old Ember Component API. Arguments are not placed directly on the `Component` instance, but are set as the `args` object on the instance. This means that this addon is incompatible with Glimmer Components.

To get a feel for how they work, you can use [`sparkles-component`](https://github.com/rwjblue/sparkles-component).

The question I want to solv

[2019-01-22 20:57] #89 closed

[2019-01-26 02:51] alexlafroscia commented on #95
That's a really good question! I'd love to try to tackle making it work there.

I don't know a ton about the difference between `sparkles-component` and the direct use of Glimmer components. If I got this package working with `sparkles-component`, would it be safe to assume it would also work with Glimmer components at that time?

Thankfully, the way it's been re-written, it's _almost_ at the poin

[2019-01-28 15:55] pzuraq commented on #95
The APIs are similar enough that it would probably work with both of them, I'd say go for it 👍

[2019-01-28 19:27] alexlafroscia commented on #95
Awesome. I'll play with that idea once I've had a chance to get the performance optimizations that we want to do

[2019-01-30 10:30] gossi commented on #95
Any idea to "merge" in `@arg` from [sparkles-decorators](https://github.com/gossi/sparkles-decorators) to provide defaults _and_ being type-checked?
Since arguments don't have a default, which was the idea for `@arg`.

It's not good to have `@arg` and `@argument`. I think it's also more of a question in which direction the framework is moving here.

[2019-01-30 10:40] buschtoens commented on #95
`@ember-decorators/argument` has become a validation only library, that has no effect on semantics. The [usage example](https://github.com/ember-decorators/argument#usage) showing a default value might be a bit misleading in that regard, since `@argument` does not provide any default behavior _any more_.

Since the native class RFC, this is native Ember behavior. It is also misleading in that, if

[2019-01-30 22:12] gossi commented on #95
I see your point, makes sense. Having `@arg` and `@argument` is weird. But your semantics of `@readsWithDefault()` kinda imply (at least to me) that the default is given as parameter to the decorator.... I rested a little on this statement and tried thinking about just `@read`, when then ... it makes sense to have `@readsWithDefault` - but I guess it was also only a quick-suggestion by you, tricky

[2019-01-30 22:47] alexlafroscia commented on #95
Yeah, I think you bring up a really good point here @gossi -- the naming of this library has been on my mind too. Calling it `@type` or `@validate` might make more sense -- especially since a `Validator` is now, internally, something you could potentially extend yourself to validate whatever kind of logic you want. Thankfully, there's nothing stopping you from doing this right now:

[code]

If tha

[2019-01-31 01:34] pzuraq commented on #95
To give some context here, part of the reason I wanted to scope this library down to focus on arguments specifically was because we were basically beginning to reinvent TypeScript with the `@type` decorators. In theory you _can_ use them to check types anywhere, not just arguments, but it is tricky and a bit error prone, and really not as elegant as TS. My thinking was that focusing on component a

[2019-02-01 13:31] artemgurzhii opened #98 "object.js:20 Uncaught TypeError: Cannot convert undefined or null to object at Function.getOwnPropertyDescriptor"
**Versions:**
 - `ember` -> `3.4.8`
 - `ember-data` -> `3.4.4`
 - `ember-decorators/argument` -> `1.0.0-beta.2`
 - `ember-decorators/babel-transforms` -> `^3.1.0`
 - `ember-decorators` -> `^5.1.2`

**Error Message:**
 - `object.js:20 Uncaught TypeError: Cannot convert undefined or null to object at Function.getOwnPropertyDescriptor (<anonymous>)`

Error being thrown from the [addon/-private/utils/

[2019-02-01 15:32] willviles commented on #98
I'm experiencing this too whilst trying to upgrade from `0.5.0`.

[2019-02-01 21:35] alexlafroscia commented on #98
Sorry to hear there's been some issues upgrading -- thanks for checking out the beta version!

I upgraded out app at work recently and haven't run into this issue yet... I'm really curious what's different here. I guess I need to check that `target` is neither `undefined` _or_` null`, since we pretty explicitly ensure that `target` is not `undefined` before passing it to `getOwnPropertyDescriptors

[2019-02-02 18:40] artemgurzhii commented on #98
@alexlafroscia `target` is not null or undefined at first run, but method `getPropertyDescriptor` calls itself recursively

[2019-02-05 21:04] alexlafroscia commented on #98
Interesting... I'll try to reproduce in a new Ember app with the dependencies that you've mentioned.

If you have a reproduction you can point me to, that would really speed things along!

[2019-02-11 04:08] #98 closed

[2019-02-11 15:45] willviles commented on #95
I agree with @pzuraq. Seeing as this library is restricted to specifically type checking arguments, it makes sense that it implements a decorator named `@argument`, rather than a more nebulous `@type` or `@validate`.

My main concern is with finding a nice syntax for supplying default values to arguments. My codebases have been using the `@argument foo = 'defaultValue'` syntax since the 0.1.0 rele

[2019-02-18 09:21] willviles opened #100 "Default values for optional arguments"
Optional arguments currently don't work with default values when the argument is `undefined` or `null`. This issue has also been observed by @artemgurzhii.

[code]

[code]

[code]

Also, setting the value of the optional argument in the component during any point of the component lifecycle does not mutate the value:

[code]

[code]

This is also true when argument values are supplied to the compon

[2019-02-19 11:52] willviles commented on #100
Updating `"ember-cli-htmlbars-inline-precompile": "^2.0.0"` resolves this issue.

Can you confirm that's the case for you @artemgurzhii?

[2019-02-21 15:11] artemgurzhii commented on #100
@willviles updating `ember-cli-htmlbars-inline-precompile` still doesn't work for me

[2019-02-21 19:13] alexlafroscia commented on #100
~~@willviles are you using the beta version? Or the latest "stable" release?~~

Never mind, your usage examples are obviously the beta version. I should have recognized that --  my bad.

This is interesting for sure. What happens if you drop the `optional` modifier? It shouldn't be necessary with a default value, since it not being supplied will fall back to your default (and thus actually be of t

[2019-03-01 17:23] masterchef opened #104 "TypeError: meta.peekDescriptors is not a function"
Exception:
[code]

Sample code:
[code]

Setup:
[code]

[2019-03-13 22:07] allthesignals opened #105 "You are using an unsupported ember-cli-babel version,decorators will not be stripped automatically"
I'm trying to upgrade Ember from 3.4 to 3.8. I'm seeing this warning:

[code]

Okay, babel is unsupported, but I'm seeing this as my version of babel:
`"ember-cli-babel": "7.5.0",`

How do I address this? I've tried using ember dependency-lint, but it doesn't turn up ember-cli-babel issues. Why?

After fishing around yarn-lock.json, I'm seeing these different versions of ember-cli-babel:
[code]

D

[2019-03-14 16:26] allthesignals opened #106 "What happened to importing `type`?"
I used to be able to import this way:

[code]
But I get a runtime error about a `desc` being undefined.

Did something get renamed between versions?

[2019-03-14 16:35] allthesignals opened #107 "`argument` throws `desc is undefined`"
`import { argument } from '@ember-decorators/argument';`

[code]

throws:
[code]

Removing the argument decorator gets rid of the problem...

[2019-03-15 04:11] alexlafroscia commented on #106
Are you using the beta release or the latest stable?

[2019-03-18 22:08] jelhan commented on #105
Upgrading to `v1.0.0-beta.2` fixed this for me.

[2019-03-18 23:52] jelhan commented on #106
I'm seeing the same using `0.8.21` (latest stable) with `ember-decorators@5.1.4` and `ember-source@3.8`.

[2019-03-29 20:02] artemgurzhii opened #108 "How to validate models?"
When having some component which takes some model as an argument, how can I validate it?

[2019-07-10 14:19] olegstepura commented on #38
This happens to us right now with
[code]

The only fix I found was to set `disableCodeStripping` to `true`:
[code]

with  `disableCodeStripping` set to `false` we see those errors in browser console:
[code]

[2019-07-17 16:09] olegstepura opened #110 "Argument with default value is not enumerable"
Hi!
We are using ` "@ember-decorators/argument": "0.8.21",` and noticed that if we have a default value for an argument annotated with `@argument` keyword, that property becomes non-enumerable.

We need all own properties to be enumerable to support converting ember object to simple javascript object for storing in localstorage. For this we do `Object.keys` on an ember object and recursively seria

[2019-07-18 22:23] pzuraq commented on #110
Unfortunately any decorated property that assigns a getter/setter to the property will not be enumerable. This is also going to be an issue with `@tracked` in Ember in general, and is an issue for computed properties 😕 I'm not sure what a great solution would be here that would also be performant. This may be something to discuss with decorators in general.

[2019-07-19 08:39] olegstepura commented on #110
Well, the point is:
* it is enumerable until it has default value is set... Meaning it can have `@argument` annotation and still be enumerable.
* I can enumerate properties that use other annotations as well: `@computed` or `@alias`. Did not try it with `@tracked`

I wonder what does Chrome console use to display such object - as I already said they display this property greyed out.

[2019-07-19 18:05] pzuraq commented on #110
It shouldn't be possible to enumerate properties with `@computed`, unless you're enumerating on the prototype? I'm not sure how that would work. Here's a twiddle that demonstrates that, it isn't enumerating the properties: https://ember-twiddle.com/b2f668d0ed862eb1490e155120853f15?fileTreeShown=false

[2019-09-24 10:00] jelhan opened #111 "Does not support ember-source@3.13.0"
Tests are failing for `ember-source@3.13.0`. I'm seeing two different errors thrown by seven tests:

[code]

[code]

I'm seeing the second error also at `ember-yeti-table` which uses this addon: https://github.com/miguelcobain/ember-yeti-table/issues/81

[2020-01-22 00:29] evanb2 commented on #95
Is there any plan to work on this enhancement now that Octane has been released?

[This RFC](https://github.com/emberjs/rfcs/issues/479) had some great discussion but it sounds like any progress on this is a long ways out. Would love to see a solution here in the mean time.

[2020-01-26 21:57] alexlafroscia commented on #95
From me, no, and I don’t think that @pzuraq is working on this package anymore either.

It’s not really clear how it would work, since Glimmer components access their arguments “directly” (rather than as a mix of external and internal state). Thinking about the `this.args.FOO` or `@FOO` syntax, there’s really no place to inject the logic around validating the values (unlike the Ember component API

[2020-01-27 03:49] evanb2 commented on #95
@alexlafroscia Thanks for the response. Super bummed, was really hoping to have something to replicate React's `propTypes` in the Ember-land.

[2020-01-27 03:51] evanb2 commented on #95
Also, should probably add a note in the README about this. Especially if you're not planning on actively maintaining the package anymore.

[2020-01-28 18:56] pzuraq commented on #95
Agreed that we should definitely add a disclaimer about this.

@evanb2 re: something like propTypes, I think we do actually have some possible paths forward. Part of the issue is we really need to figure out default props and imports, as I think that the design of both of these would influence the design of argTypes, but currently I'm thinking of something like:

[code]

This way we're minimizing

[2020-01-29 00:33] evanb2 commented on #95
That'd be awesome. Though I would prefer doing something like:
[code]

Again, like `propTypes`. But I also just really dislike the idea of using strings to define the types. Just my 2 cents.

[2020-01-29 06:54] buschtoens commented on #95
Would `{{arg-defaults}}` actually set default values for `@foo` or a differently named local scope variable?

[2020-01-29 16:06] pzuraq commented on #95
`{{arg-defaults}}` would need to set the actual value of the argument, both in the template and component js. I’m pretty sure it would require at the least a custom component manager, possibly would need to be built in.

[2020-05-20 06:18] VincentMolinie commented on #108
Looking at the documentation I think you can do something like
[code]

[2020-05-20 06:37] VincentMolinie opened #112 "Cannot assign to read only property 'entity' of object '[object Object]'"
Hi,
I tried to use you library on version `1.0.0-beta.2`
With the following code:
[code]

But I keep getting the following error:
[code]

What am I doing wrong ?

[2020-05-20 15:12] alexlafroscia commented on #108
For the record, I don't think this addon is really maintained anymore.

I would recommend checking out `ember-arg-types`, the spiritual successor to this package!

https://github.com/jkusa/ember-arg-types

[2020-05-20 15:12] alexlafroscia commented on #112
What Ember version are you using?

[2020-06-02 14:27] VincentMolinie commented on #112
Ember `3.12.2`

[2020-06-10 16:30] VincentMolinie commented on #38
I had the exact same issue a few minutes ago
[code]

I'm pretty sure you issue is here:
https://github.com/ember-decorators/argument/blob/10f4515c662ed4a35a798ea856755c012006c445/index.js#L66
Because you configure only if the filter imports is not already included

[2021-03-30 09:29] ctjhoa opened #113 "Deprecate this addon ?"
According to:
- https://youtu.be/4SPTvd8lCw4?list=PL4eq2DPpyBbkc3vz8_N4xkeboowQcPQbK&t=241
- https://github.com/ember-decorators/argument/issues/111

This addon should be deprecated in favor of https://github.com/pzuraq/ember-argument-types.

Can someone confirm this and update the README accordingly?